<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}| Kitchen Comfort</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <style>
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
      }

      .ml {
        margin-left: 350px;
      }
    </style>
  </head>
  <body class="flex flex-col justify-between h-screen">
    <nav
      class="flex items-center justify-between flex-wrap border-b shadow-sm p-3 fixed top-0 left-0 right-0 z-50"
      style="
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
      "
    >
      <div class="flex lg:relative items-center flex-shrink-0 text-black mr-6">
        <a href="/" class="text-sm lg:text-2xl font-semibold">
          Kitchen Comfort
          <hr class="bg-gradient-to-r from-yellow-500 to-white h-0.5" />
        </a>
      </div>
      <div class="block lg:hidden">
        <button id="menu-toggle" class="flex items-center">
          <div class="material-symbols-outlined text-black">menu</div>
        </button>
      </div>
      <div
        id="menu"
        class="w-full block flex-grow lg:flex lg:items-center lg:absolute lg:right-10 lg:w-auto hidden lg:block pt-6 lg:pt-0"
      >
        <div class="text-sm lg:flex-grow font-bold lg:text-lg lg:font-semibold">
          <a
            href="{% url 'item:new' %}"
            class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-500 hover:underline mr-4"
          >
            New item
          </a>
          <a
            href="{% url 'item:items' %}"
            class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-500 hover:underline mr-4"
          >
            Browse
          </a>
          {% if request.user.is_authenticated %}
          <a
            href="{% url 'conversation:inbox' %}"
            class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-500 hover:underline mr-4"
          >
            Inbox
          </a>
          <a
            href="{% url 'dashboard:index' %}"
            class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-500 hover:underline"
          >
            Dashboard
          </a>
          {% else %}
          <a
            href="{% url 'core:signup' %}"
            class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-500 hover:underline mr-4"
          >
            Sign up
          </a>
          <a
            href="{% url 'core:login' %}"
            class="block mt-4 lg:inline-block lg:mt-0 hover:text-gray-500 hover:underline"
          >
            Log in
          </a>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="lg:px-20 px-6 py-2 mt-16">
      {% block content %} {% endblock %}
    </div>

    <footer class="py-6 px-6 flex flex-col lg:flex-row justify-between items-center border-t">
        <div class="w-full lg:w-1/2 pr-10 mb-6 lg:mb-0">
            <h3 class="mb-2 lg:mb-5 font-semibold text-gray-400">About</h3>
    
            <p class="text-md lg:text-lg text-gray-500">
                Welcome to Kitchen Comfort! We're your destination for top-quality
                utensils, handpicked to elevate your cooking experience. From
                professional-grade tools to kitchen essentials, we're here to help you
                craft culinary perfection. Thank you for choosing us as your culinary
                partner.
            </p>
        </div>
    
        <div class="w-full lg:w-1/2">
            <h3 class="mb-2 lg:mb-5 font-semibold text-gray-400">Menu</h3>
    
            <ul class="">
                <li>
                    <a
                        href="#"
                        class="text-md lg:text-lg text-teal-500 hover:text-teal-700"
                        >About</a
                    >
                </li>
                <li>
                    <a
                        href="{% url 'core:contact' %}"
                        class="text-md lg:text-lg text-teal-500 hover:text-teal-700"
                        >Contact</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="text-md lg:text-lg text-teal-500 hover:text-teal-700"
                        >Privacy Policy</a
                    >
                </li>
                <li>
                    <a
                        href="#"
                        class="text-md lg:text-lg text-teal-500 hover:text-teal-700"
                        >Terms of Use</a
                    >
                </li>
            </ul>
        </div>
    </footer>
    

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function (event) {
          event.preventDefault();
          document.getElementById("menu").classList.toggle("hidden");
        });
    </script>
  </body>
</html>
